@import "./Utils/variables.scss";
@import "./Base/font-Heading.scss";


div {
    @include font-heading;
    height: 3rem;
    background-color: $color-primary;
    color: white;
}

p{
    font-weight: 500;
    line-height: 1rem;
}