@import "./Utils/variables.scss";



div {
    height: 3rem;
    background-color: $color-primary;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}